[alias]
        # Delete branches merged with master @todo don't delete dev and so on...
        cleanup = "!git checkout dev && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
        # Display a graph history
        graph = "!git log --all --decorate --oneline --graph --date=short --pretty='%C(red)%h%Creset | %C(yellow)%ad%Creset | %C(green)%an%Creset | %s'"
        # Display contributor
        contibutor = "!git shortlog -s -n -e | head"

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[core]
        excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes
        editor = vim
        autocrlf = input
        trustctime = false
        precomposeunicode = false

[tag]
        gpgsign = false

[commit]
        gpgsign = false
[pull]
	rebase = false
[init]
	defaultBranch = main
