[user]
	name = Maxime Hélias
	email = maximehelias16@gmail.com

[includeIf "gitdir:~/www/work/"]
        path = ~/.gitconfig-work

[includeIf "gitdir:~/www/opensource/"]
        path = ~/.gitconfig-opensource

[includeIf "gitdir:~/www/perso/"]
        path = ~/.gitconfig-opensource

[includeIf "gitdir:~/www/sandbox/"]
        path = ~/.gitconfig-opensource

[alias]
        # Fetch all
        fp = fetch --all --prune --tags --force
        # Amend
        oops = commit --amend --no-edit
        # Delete branches merged with master @todo don't delete dev and so on...
        cleanup = "!git checkout dev && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
        # Display a graph history
        graph = "!git log --all --decorate --oneline --graph --date=short --pretty='%C(red)%h%Creset | %C(yellow)%ad%Creset | %C(green)%an%Creset | %s'"
        # Display contributor
        contibutor = "!git shortlog -s -n -e | head"

[color]
        ui = auto

[core]
        excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes
        editor = vim
        autocrlf = input
        trustctime = false
        precomposeunicode = false

[checkout]
        defaultRemote = origin

[tag]
        gpgsign = false

[commit]
        gpgsign = false

[pull]
	rebase = true

[init]
	defaultBranch = main
